spring:
  application:
    name: mlconf-back

  datasource:
    url: ${MLCONF_DB_URL:jdbc:postgresql://localhost:5432/mlconf}
    username: ${MLCONF_DB_USER:mlconf}
    password: ${MLCONF_DB_PASSWORD:mlconf}

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8080
